<nav class="navbar">
  <a class="brand" href="/">
    <div class="nav-logo">
      <img src="/assets/logo.jpeg" alt="logo">
      <span>
        RA DETECTION
      </span>
    </div>
  </a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/users" *ngIf="userRole && userRole === 'admin'">Users</a></li>
    <li><a href="/history" *ngIf="userRole && userRole === 'patient'">History</a></li>
    <li><a href="/patients" *ngIf="userRole && userRole === 'doctor'">Patients</a></li>
    <a href="/form" *ngIf="userRole && userRole === 'doctor'"><button class="button">Get Started</button></a>
    <button class="button" (click)="onlogout()">Logout</button>
  </ul>
</nav>