<nav class="navbar">
  <a class="brand" href="/">
    <div class="nav-logo">
      <img src="/assets/logo.jpeg" alt="logo">
      <span>
        RA DETECTION
      </span>
    </div>
  </a>
  <input type="checkbox" id="checkbox">
  <label for="checkbox" id="icon">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </label>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/history">History</a></li>
    <button class="button"><a href="/form">Get Started</a></button>
    <button class="button" (click)="onlogout()">Logout</button>
  </ul>
</nav>