#patient {
    padding: 3rem 5rem;
    min-height: 50vh;
    transition: all 0.5s ease-in;
    background-color: var(--section-bg-color);
}

#patient h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.patient-message,
#patient h3 {
    text-align: center;
    font-size: larger;
    color: var(--secondary-color);
}

.patient-details1-div {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.patient-details1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.patient-details1 p {
    color: var(--secondary-color);
}

.patient-details1 p span {
    color: var(--dark-color);
}

.patient-list {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.patient-list li {
    list-style: none;
}

.patient-list-heading {
    background-color: var(--custom-btn-bg-color);
    color: white;
    padding: 0.5rem;
}

.patient-list-heading,
.patient-list-row1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.patient-list-heading p,
.patient-list-row1 p {
    width: 12rem;
}

.patient-list-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--section-bg-color);
}

.patient-list-row {
    border: 2px solid gray;
    padding: 0.5rem;
}

.patient-details>svg {
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 45%;
    transition: all 0.5s ease;
}

.patient-details>svg:hover {
    transform: scale(1.3);
    transition: all 0.5s ease;
}

.patient-comment {
    padding: 1rem;
}

.patient-comment-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    padding: 1rem 0rem;
}

.patient-comment-list-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.patient-comment-list-row-message {
    border-radius: 0.5rem;
    background-color: white;
    outline: 1px solid var(--primary-color);
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
}

.patient-comment-list-row-e2 {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    color: var(--secondary-color);
}



/* .patient-comment-edit {
    display: flex;
    padding: 0.5rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    transition: all 0.3s ease;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: max-content;
}

.patient-comment-edit:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
    background-color: var(--primary-color);
} */

.patient-comment-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.patient-comment-message textarea{
    margin-top: 1rem;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.patient-comment-message textarea:focus {
    outline: 2px solid var(--primary-color);
}

.patient-comment-message-button {
    border: none;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 40%;
}

.patient-comment-message-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.patient-comment-message p {
    color: gray;
}