<section class="carousel-container">
  <button class="carousel-arrow" (click)="prev()">
    <svg enable-background="new 0 0 15 26" height="26px" id="Layer_1" version="1.1" viewBox="0 0 15 26" width="15px"
      xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <polygon fill="#231F20"
        points="12.885,0.58 14.969,2.664 4.133,13.5 14.969,24.336 12.885,26.42 2.049,15.584 -0.035,13.5 " />
    </svg>
  </button>
  <img [src]="images[currentSlide].src" alt="Slide Image" id="carousel-image">
  <button class="carousel-arrow" (click)="next()">
    <svg enable-background="new 0 0 15 26" height="26px" id="Layer_1" version="1.1" viewBox="0 0 15 26" width="15px"
      xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <polygon fill="#231F20"
        points="2.019,0.58 -0.035,2.634 10.646,13.316 -0.035,23.997 2.019,26.052 14.755,13.316 " />
    </svg>
  </button>
</section>

<section id="get-started">
  <h1 class="get-started-heading">Try out the system</h1>
  <button class="get-started-button"><a href="/form">Get Started</a></button>
</section>

<section id="objectives">
  <h1 class="objectives-heading"> Objectives of Our Project Are</h1>
  <div class="flex-container">
    <div class="featured-block">
      <img src="/assets/objective1.jpeg" class="featured-block-image" alt="Fusion Framework Frontier">
      <p class="featured-block-text">Fusion Framework Frontier</p>
    </div>
    <div class="featured-block">
      <img src="/assets/objective2.jpeg" class="featured-block-image" alt="X-ray Insight Engine">
      <p class="featured-block-text">X-ray Insight Engine</p>
    </div>
    <div class="featured-block">
      <img src="/assets/objective3.png" class="featured-block-image" alt="Clinical Decision Vanguard">

      <p class="featured-block-text">Clinical Decision Vanguard</p>
    </div>
    <div class="featured-block">
      <img src="/assets/objective4.jpg" class="featured-block-image" alt="Diagnostic Synergy System">
      <p class="featured-block-text">Diagnostic Synergy System</p>
    </div>
  </div>
</section>



<section id="team">
  <h1 class="team-heading">Meet the Team Behind the Project</h1>

  <div class="team-members-container">
    <div class="team-member">
      <img src="/assets/ShreyasSTantri.png" alt="ShreyasSTantri">
      <h2 class="team-member-name">Shreyas S Tantri</h2>
      <a href="https://www.linkedin.com/in/shreyas-s-tantri-548b1a213/" class="team-member-linkedin" target="_blank"
        rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
          <path
            d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z">
          </path>
        </svg>
      </a>
    </div>

    <div class="team-member">
      <img src="/assets/ShreyasShettyB.jpg" alt="ShreyasShettyB">
      <h2 class="team-member-name">Shreyas Shetty B</h2>
      <a href="https://www.linkedin.com/in/shreyas-shetty-b-1720141a1/" class="team-member-linkedin" target="_blank"
        rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
          <path
            d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z">
          </path>
        </svg>
      </a>
    </div>

    <div class="team-member">
      <img src="/assets/SourabhP.jpg" alt="SourabhP">
      <h2 class="team-member-name">Sourabh P</h2>
      <a href="https://www.linkedin.com/in/sourabh-p-a239a1228/" class="team-member-linkedin" target="_blank"
        rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
          <path
            d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z">
          </path>
        </svg>
      </a>
    </div>

    <div class="team-member">
      <img src="/assets/VinayakNayakN.jpg" alt="VinayakNayakN">
      <h2 class="team-member-name">Vinayak Nayak N</h2>
      <a href="https://www.linkedin.com/in/vinayak-nayak-n/" class="team-member-linkedin" target="_blank"
        rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
          <path
            d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z">
          </path>
        </svg>
      </a>
    </div>
  </div>

  <div class="team-info">
    <div class="team-guide">
      <h1 class="team-guide-heading">Our Guide</h1>
      <img src="/assets/PradeepBS.jpg" alt="PradeepBS">
      <h2 class="team-guide-name">Dr. Pradeep B S</h2>
      <h3 class="team-guide-name">Associate Professor, Dept. of CS&E</h3>
      <h3 class="team-guide-name">Dean R&D, MITE</h3>
      <a href="https://mite.ac.in/member/dr-pradeep-b-s/" class="team-member-linkedin" target="_blank"
        rel="noopener noreferrer">
        <button>View Profile</button>
      </a>

    </div>
    <div class="college">
      <a href="https://mite.ac.in/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/miteLogo.png" alt="MITE logo">
      </a>
      <h2 class="college-name">MANGALORE INSTITUTE OF TECHNOLOGY AND ENGINEERING</h2>
      <p class="college-address">(A Unit of Rajalaxmi Education Trust ®, Mangalore)</p>
      <p class="college-address">Autonomous Institute Affiliated to V.T.U, Belagavi, Approved by AICTE, New Delhi</p>
      <p class="college-address">Accredited by NAAC with A+ Grade & ISO 9001:2015 Certified Institution</p>
    </div>

  </div>
</section>

<section id="vision">
  <h2>Aim & Mission</h2>
  <p>
    At the core of our mission is the relentless pursuit of transforming the landscape of Rheumatoid Arthritis (RA)
    diagnosis through innovation and technological advancement. Our aim is to pioneer a paradigm shift in how RA is
    detected and managed, envisioning a future where individuals at risk or affected by RA can benefit from early
    intervention and personalized treatment strategies. We aspire to create a diagnostic system that not only meets
    the highest standards of accuracy and reliability but also integrates seamlessly into clinical practice,
    empowering healthcare professionals with actionable insights and decision support tools.<br><br>

    Central to our vision is the holistic approach to RA diagnosis and management, recognizing the complex interplay
    of clinical, imaging, and biomarker data in providing a comprehensive assessment of the disease. We envision a
    diagnostic framework that leverages the power of deep learning algorithms to analyze diverse data modalities,
    including X-ray images and biomarker profiles, to deliver precise and timely diagnostic outcomes. By harnessing
    the capabilities of artificial intelligence and machine learning, we aim to unlock new frontiers in RA diagnosis,
    enabling early detection, prediction of disease progression, and optimization of treatment strategies.<br><br>

    Our vision extends beyond the development of a diagnostic tool; it encompasses a commitment to advancing
    scientific knowledge and clinical practice in the field of rheumatology. We aspire to foster collaboration and
    partnerships with healthcare institutions, research organizations, and industry leaders to drive innovation and
    accelerate the translation of cutting-edge research into clinical practice. Through continuous learning, research,
    and development, we aim to stay at the forefront of technological innovation, pushing the boundaries of what is
    possible in RA diagnosis and management.<br><br>

    Ultimately, our vision is grounded in the belief that every individual affected by RA deserves timely and accurate
    diagnosis, access to personalized treatment options, and the opportunity to live a fulfilling life free from the
    burden of the disease. By combining innovation, expertise, and a deep commitment to improving patient outcomes, we
    are dedicated to making this vision a reality for individuals worldwide affected by Rheumatoid Arthritis.</p>
</section>

<section id="about">
  <h2>About Us</h2>
  <p>
    Welcome to our project on "A Deep Learning Approach to Detect Rheumatoid Arthritis Using X-ray Images and
    Bio-Markers"! We are a team of passionate individuals from Visvesvaraya Technological University, pursuing our
    Bachelor of Engineering in Computer Science & Engineering.<br><br>

    Our team comprises: <br>

    1) SHREYAS S TANTRI (4MT20CS159) <br>
    2) SHREYAS SHETTY B (4MT20CS160) <br>
    3) SOURABH P (4MT20CS165) <br>
    4) VINAYAK NAYAK (4MT20CS177) <br>
    <br>
    Under the expert guidance of Dr. PRADEEP B S, Professor & Dean of R&D at Mangalore Institute of Technology &
    Engineering, we have embarked on a journey to develop an innovative solution for the early detection of Rheumatoid
    Arthritis (RA).

    Rheumatoid Arthritis is a chronic autoimmune disease affecting millions worldwide, and our project aims to
    leverage the power of deep learning technologies to improve the accuracy and efficiency of RA diagnosis. By
    integrating X-ray images of affected joints and relevant biomarkers, such as Rheumatoid Factor (RF) and
    Anti-Cyclic Citrullinated Peptide (anti-CCP) values, we aim to create a robust diagnostic system that aids in
    timely intervention and treatment.

    Our project is driven by a shared commitment to advancing healthcare technology and making a positive impact on
    the lives of individuals suffering from RA. We believe that our efforts will contribute to the ongoing
    advancements in medical diagnostics and pave the way for more effective management of chronic diseases.

    Stay tuned as we share updates on our project journey and the progress towards achieving our goals. Thank you for
    joining us on this exciting endeavor!
  </p>
</section>