.carousel-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-arrow {
  background-color: var(--primary-color);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  opacity: 90%;
  border: none;
  transition: all 0.4s ease;
}

.carousel-arrow:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.carousel-container img {
  width: 80%;
  height: 100%;
  transition: all 0.3s ease;
}

#get-started {
  display: flex;
  padding: 6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-image: url('../../../assets/getStartedBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem 0;
}

.get-started-heading {
  font-size: xx-large;
  color: var(--secondary-color);
}

.get-started-button {
  padding: 1rem 4rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: 1rem;
  transition: all 0.3s;
}


.get-started-button:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  transition: all 0.3s;

}

.get-started-button a {
  text-decoration: none;
  color: var(--dark-color);
}

#objectives {
  margin: 0 auto;
  padding: 2rem;
  color: var(--secondary-color);
  background-color: var(--white-color);
  text-align: center;
}

.objectives-heading {
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: xx-large;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.featured-block {
  text-align: center;
  transition: all 0.5s ease;
  min-height: 256px;
  padding: 15px;
  width: 20%;
}

.featured-block:hover {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.featured-block:hover .featured-block-image {
  transform: scale(0.75);
}

.featured-block-image {
  display: block;
  width: 15rem;
  height: 15rem;
  margin: auto;
  transition: all 0.5s;
}

.featured-block:hover .featured-block-text {
  margin-top: 0;
}

.featured-block-text {
  color: var(--primary-color);
  font-size: large;
  margin-top: 20px;
  transition: all 0.5s;
  font-weight: bold;
}























.cards {
  margin: 3rem auto 0 auto;
  padding: 2rem;
  max-width: 80vw;
  color: var(--secondary-color);
  /* Adjusted max-width for better readability */
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#about {
  margin: 3rem auto 0 auto;
  padding: 2rem;
  max-width: 80vw;
  color: var(--secondary-color);
  /* Adjusted max-width for better readability */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#guide {
  margin: 3rem auto 0 auto;
  padding: 2rem;
  max-width: 80vw;
  color: var(--secondary-color);
  /* Adjusted max-width for better readability */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#team {
  margin: 3rem auto 0 auto;
  padding: 2rem;
  max-width: 80vw;
  color: var(--secondary-color);
  /* Adjusted max-width for better readability */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#vision {
  margin: 3rem auto 0 auto;
  padding: 2rem;
  max-width: 80vw;
  color: var(--secondary-color);
  /* Adjusted max-width for better readability */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#about h2,
#vision h2 {
  margin-bottom: 1.5rem;
  /* Increased margin below the headings */
  font-size: 2.3rem;
  color: black;
  /* Increased font size for headings */
}

#about p,
#vision p {
  text-align: justify;
  font-size: 1.3rem;
  color: var(--p-color);
  /* Increased font size for text */
  line-height: 1.5;
  /* Adjusted line height for better readability */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {

  #about,
  #vision,
  #objectives {
    max-width: 90vw;
    /* Adjusted max-width for smaller screens */
  }

  #about h2,
  #vision h2 {
    font-size: 2rem;

    /* Reduced font size for headings on smaller screens */
  }

  #about p,
  #vision p {
    font-size: 1.6rem;
    color: var(--p-color);
    /* Reduced font size for text on smaller screens */
  }
}


.home-get-started-holder {
  margin: 2rem 0;
  text-align: center;
}

.home-get-started {
  padding: 1rem;
  border-radius: 30px;
  background-color: #076c08;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.home-get-started:hover {
  background-color: #055767;
}