<div class="home">
  <div class="carousel-container">
    <div class="carousel" #carousel>
      <div *ngFor="let image of images" class="slider">
        <div class="slide-content">
          <h1>{{ image.title }}</h1>
        </div>
        <img [src]="image.src" alt="Slide Image">
      </div>
    </div>
  </div>

  <section id="vision">
    <h2>Aim & Mission</h2>
    <p>
          At the core of our mission is the relentless pursuit of transforming the landscape of Rheumatoid Arthritis (RA) diagnosis through innovation and technological advancement. Our aim is to pioneer a paradigm shift in how RA is detected and managed, envisioning a future where individuals at risk or affected by RA can benefit from early intervention and personalized treatment strategies. We aspire to create a diagnostic system that not only meets the highest standards of accuracy and reliability but also integrates seamlessly into clinical practice, empowering healthcare professionals with actionable insights and decision support tools.<br><br>

          Central to our vision is the holistic approach to RA diagnosis and management, recognizing the complex interplay of clinical, imaging, and biomarker data in providing a comprehensive assessment of the disease. We envision a diagnostic framework that leverages the power of deep learning algorithms to analyze diverse data modalities, including X-ray images and biomarker profiles, to deliver precise and timely diagnostic outcomes. By harnessing the capabilities of artificial intelligence and machine learning, we aim to unlock new frontiers in RA diagnosis, enabling early detection, prediction of disease progression, and optimization of treatment strategies.<br><br>

          Our vision extends beyond the development of a diagnostic tool; it encompasses a commitment to advancing scientific knowledge and clinical practice in the field of rheumatology. We aspire to foster collaboration and partnerships with healthcare institutions, research organizations, and industry leaders to drive innovation and accelerate the translation of cutting-edge research into clinical practice. Through continuous learning, research, and development, we aim to stay at the forefront of technological innovation, pushing the boundaries of what is possible in RA diagnosis and management.<br><br>

          Ultimately, our vision is grounded in the belief that every individual affected by RA deserves timely and accurate diagnosis, access to personalized treatment options, and the opportunity to live a fulfilling life free from the burden of the disease. By combining innovation, expertise, and a deep commitment to improving patient outcomes, we are dedicated to making this vision a reality for individuals worldwide affected by Rheumatoid Arthritis.</p>
  </section>

  <section id="about">
    <h2>About Us</h2>
    <p>
Welcome to our project on "A Deep Learning Approach to Detect Rheumatoid Arthritis Using X-ray Images and Bio-Markers"! We are a team of passionate individuals from Visvesvaraya Technological University, pursuing our Bachelor of Engineering in Computer Science & Engineering.<br><br>

Our team comprises: <br>

1) SHREYAS S TANTRI (4MT20CS159) <br>
2) SHREYAS SHETTY B (4MT20CS160) <br>
3) SOURABH P (4MT20CS165) <br>
4) VINAYAK NAYAK (4MT20CS177) <br>
<br>
Under the expert guidance of Dr. PRADEEP B S, Professor & Dean of R&D at Mangalore Institute of Technology & Engineering, we have embarked on a journey to develop an innovative solution for the early detection of Rheumatoid Arthritis (RA).

Rheumatoid Arthritis is a chronic autoimmune disease affecting millions worldwide, and our project aims to leverage the power of deep learning technologies to improve the accuracy and efficiency of RA diagnosis. By integrating X-ray images of affected joints and relevant biomarkers, such as Rheumatoid Factor (RF) and Anti-Cyclic Citrullinated Peptide (anti-CCP) values, we aim to create a robust diagnostic system that aids in timely intervention and treatment.

Our project is driven by a shared commitment to advancing healthcare technology and making a positive impact on the lives of individuals suffering from RA. We believe that our efforts will contribute to the ongoing advancements in medical diagnostics and pave the way for more effective management of chronic diseases.

Stay tuned as we share updates on our project journey and the progress towards achieving our goals. Thank you for joining us on this exciting endeavor!</p>
  </section>

  <div class="home-get-started-holder">
    <!-- <a routerLink="/form" class="home-get-started">Get Started</a> -->
  </div>
</div>