<!-- <div class="home">
  <div class="carousel-container">
    <div class="carousel" #carousel>
      <div class="slider" *ngFor="let image of images">
        <div class="slide-content">
          <h1>{{ image.title }}</h1>
        </div>
        <img [src]="image.src" alt="Slide Image">
      </div>
    </div>
  </div> -->

  <section id="vision">
    <h2>Aim & Vision</h2>
    <p>Our vision statement goes here. Explain what drives the company, its goals, and how it intends to achieve them. This should be inspiring and align with the overall mission.</p>
  </section>

  <section id="about">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget ante odio. Praesent vel laoreet sem. Integer non lorem id dui venenatis consequat. Mauris eget leo in ipsum tincidunt blandit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.</p>
  </section>

  <div class="home-get-started-holder">
    <a routerLink="/form" class="home-get-started">Get Started</a>
  </div>
<!-- </div> -->
