h1 {
    text-align: center;
    font-size: larger;
    margin-top: 2rem;
}

#about {
    margin: 3rem auto 0 auto;
    padding: 2rem;
    width: 60vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-getStarted-holder {
    margin: 2rem 0;
    text-align: center;
}

.home-getStarted {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #076C08;
    text-decoration: none;
    color: black;
}