<section id="form-heading1">
  <h1 class="form-heading1-h1">Get Started Here</h1>
</section>

<button class="nav-button" *ngIf="activeSection === 'instructions'" (click)="scrollToSection('form')">
  <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
      <path id="XMLID_225_"
        d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z">
      </path>
    </g>
  </svg>
</button>
<button class="nav-button" *ngIf="activeSection === 'form'" (click)="scrollToSection('form-instructions')">
  <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
      <path id="XMLID_224_"
        d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394 l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393 C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z">
      </path>
    </g>
  </svg>
</button>

<section id="form-instructions" (scroll)="onSectionScroll('instructions')">
  <h1 class="form-heading2">Instructions</h1>
  <div class="form-instructions-content">

    <div class="form-instructions-content-element">
      <h2 class="form-instructions-content-element-heading">X-ray Image Requirements:</h2>
      <p>Upload a single X-ray image displaying both hands clearly.</p>
      <p>Ensure the image is in a standard format (e.g., JPEG, PNG) and high resolution for accurate
        analysis.</p>
      <p>Images must show all joints in both hands to facilitate proper assessment.</p>
      <b>Below are the sample images for reference</b>
      <img src="/assets/sample.jpg" alt="Sample x-ray images" class="sampleXrayImage">
    </div>

    <div class="form-instructions-content-element">
      <h2 class="form-instructions-content-element-heading">Patient Information:</h2>
      <p>Enter patient's age as a numerical value (in years).</p>
      <p>Select the gender from the options: Male or Female.</p>
    </div>

    <div class="form-instructions-content-element">
      <h2 class="form-instructions-content-element-heading">Duration of Symptoms:</h2>
      <p>Input the duration of symptoms in weeks.</p>
      <p>Provide the exact number of weeks since the onset of symptoms.</p>
    </div>

    <div class="form-instructions-content-element">
      <h2 class="form-instructions-content-element-heading">Blood Sample Selection:</h2>
      <p>Check the appropriate box for each blood sample to be inputted.</p>
      <p>Ensure all relevant blood tests are selected for a comprehensive analysis.</p>
      <p>Available options typically include Rheumatoid Factor (RF), anti-cyclic citrullinated peptide
        (anti-CCP), C-reactive protein (CRP), and erythrocyte sedimentation rate (ESR).</p>
    </div>

    <div class="form-instructions-content-element">
      <h2 class="form-instructions-content-element-heading">Blood Test Values Entry:</h2>
      <p>Upon selecting a blood sample, input the corresponding values in EU/mL (European Units per
        milliliter).</p>
      <p>Provide accurate values obtained from recent blood tests for precise assessment.</p>
      <p>Input each value carefully to avoid errors in analysis.</p>
    </div>

  </div>
</section>

<section id="form" (scroll)="onSectionScroll('form')">
  <h1 class="form-heading2">Fill in the details</h1>
  <div class="form-content">

    <div class="form-content-element">
      <h2 class="form-content-element-heading">X-ray Image Information</h2>
      <p>Upload the x-ray image file *</p>
      <div class="form-file-element">

        <div class="form-content-image">
          <input type="file" id="image" name="image" accept="image/*" (input)="dataInputObj.passImageFile($event)">
          <label for="image">
            <div class="form-content-image-box">
              <div class="form-content-image-prev"
                *ngIf="dataInputObj.image.name == '' && dataInputObj.image.photoUrl == '' ">
                <span class="form-content-image-box-drop-file"> Drop image file here </span>
                <span class="form-content-image-box-or"> Or </span>
                <span class="form-content-image-box-browse"> Browse </span>
              </div>
              <div
                *ngIf="dataInputObj.image.photoUrl != '' && dataInputObj.image.photoUrl != null && dataInputObj.image.photoUrl != undefined">
                <img [src]="dataInputObj.image.photoUrl" class="uploadedImage">
                <p>{{dataInputObj.image.name.slice(0, 15) + '...'}}</p>
                <p class="form-upload-newImage">Upload New</p>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="form-content-element">
      <h2 class="form-content-element-heading">Serology And Demographic Information</h2>

      <div class="form-content-element-row">
        <label for="age" class="">Patient's age (In Years)</label>
        <input type="number" id="age" name="age" [(ngModel)]="dataInputObj.age" class="">
      </div>

      <div class="form-content-element-row">
        <label for="gender" class="">Patient's gender</label>
        <select name="gender" id="gender" class="form-select-gender" (change)="dataInputObj.passGender($event)">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <div class="form-content-element-row">
        <label for="affectDuration" class="">Duration of Symptoms (In Weeks)</label>
        <input type="number" id="affectDuration" name="affectDuration" [(ngModel)]="dataInputObj.affectDuration"
          class="">
      </div>

      <h3 class="form-heading3">Select the Serology Types</h3>
      <div class="form-content-element-row2">
        <div class="form-row2-checkbox">
          <input type="checkbox" id="anticcp" name="anticcp" value="anticcp"
            (change)="dataInputObj.passType('anticcp')">
          <label for="anticcp">Anti-CCP</label>
        </div>
        <div class="form-row2-input" *ngIf="dataInputObj.isAnticcpPresent">
          <label for="anticcpValue">Enter the value in <b>EU/mL</b></label>
          <input type="number" id="anticcpValue" name="anticcpValue" [(ngModel)]="dataInputObj.anticcpValue">
        </div>
      </div>

      <div class="form-content-element-row2">
        <div class="form-row2-checkbox">
          <input type="checkbox" id="rf" name="rf" value="rf" (change)="dataInputObj.passType('rf')">
          <label for="rf">Rheumotoid Factor</label>
        </div>
        <div class="form-row2-input" *ngIf="dataInputObj.isRfPresent">
          <label for="rfValue">Enter the value in <b>IU/mL</b></label>
          <input type="number" id="rfValue" name="rfValue" [(ngModel)]="dataInputObj.rfValue">
        </div>
      </div>

      <div class="form-content-element-row2">
        <div class="form-row2-checkbox">
          <input type="checkbox" id="crp" name="crp" value="crp" (change)="dataInputObj.passType('crp')">
          <label for="crp">C-Reactive Protein</label>
        </div>
        <div class="form-row2-input" *ngIf="dataInputObj.isCrpPresent">
          <label for="crpValue">Enter the value in <b>mg/L</b></label>
          <input type="number" id="crpValue" name="crpValue" [(ngModel)]="dataInputObj.crpValue">
        </div>
      </div>

      <div class="form-content-element-row2">
        <div class="form-row2-checkbox">
          <input type="checkbox" id="esr" name="esr" value="esr" (change)="dataInputObj.passType('esr')">
          <label for="esr">Erythrocyte Sedimentation Rate</label>
        </div>
        <div class="form-row2-input" *ngIf="dataInputObj.isEsrPresent">
          <label for="esrValue">Enter the value in <b>mm/hr</b></label>
          <input type="number" id="esrValue" name="esrValue" [(ngModel)]="dataInputObj.esrValue">
        </div>
      </div>
    </div>

    <p class="form-status">{{ statusString }}</p>

    <button class="form-submit-button" (click)="onSubmit($event)">Submit</button>

  </div>
</section>

<section id="summary" *ngIf="isOutputAvailable">
  <h1 class="form-heading2">Summary</h1>

  <div class="image-output-container">
    <div id="imageCanvas"></div>
    <div class="image-canvas-output">
      <div class="select-rect-type">
        <label for="rectType">Select the Type:</label>
        <select name="rectType" id="rectType" (change)="getRectType($event)" class="custom-select">
          <option value="both">Both</option>
          <option value="positive">Positive</option>
          <option value="negative">Negative</option>
        </select>
      </div>

      <h3 *ngIf=" currentImageClass === '' ">Hover on the rectangle boxes present on the image to view the class
        name</h3>
      <div *ngIf=" currentImageClass !== '' ">
        <p>Class: <b>{{ currentImageClass }}</b></p>
        <p>Confidence: <b>{{ currentImageClassConf }}</b></p>
      </div>
      <br>
      <h4>Note:</h4>
      <p><span class="red-text">Red </span>Rectangular boxes shows RA <span class="red-text"> positive </span>
        joints </p>
      <p><span class="green-text">Green </span>Rectangular boxes shows RA <span class="green-text"> negative
        </span> joints </p>
    </div>
  </div>

  <div class="score-output-container">
    <div class="score-output-container-1">
      <div class="score-output">
        <h3>About Joint-Detection</h3>
        <p><b>Message: </b> {{ resultScore.category_1.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_1.score }}</p>
      </div>
      <div class="score-output" *ngIf="dataInputObj.isAnticcpPresent || dataInputObj.isRfPresent">
        <h3>About AntiCCP/RF values</h3>
        <p><b>Message: </b> {{ resultScore.category_2.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_2.score }}</p>
      </div>
      <div class="score-output" *ngIf="dataInputObj.isCrpPresent || dataInputObj.isEsrPresent">
        <h3>About CRP/ESR values</h3>
        <p><b>Message: </b> {{ resultScore.category_3.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_3.score }}</p>
      </div>
      <div class="score-output">
        <h3>About Duration of Symptoms</h3>
        <p><b>Message: </b> {{ resultScore.category_4.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_4.score }}</p>
      </div>
      <div class="score-output">
        <h3>Final Info</h3>
        <p><b>Message: </b> {{ resultScore.output.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.output.score }}</p>
      </div>
    </div>
    <div class="score-output-container-2">
      <h3>Score Table</h3>
      <img src="/assets/ScoreTable1.jpg" alt="ScoreTable">
    </div>
  </div>
</section>