<section id="form-heading">
  <h1 class="form-heading-h1">Get Started Here</h1>
</section>

<section id="form-instructions">

</section>

<section class="rules-section">
  <div class="container">
    <div class="card mb-3">
      <div class="card-header text-center">
        <h2>INSTRUCTIONS</h2>
      </div>
      <div class="card-body">
        <ol>
          <li>
            <b class="list-item-content">X-ray Image Requirements:</b><br>
            <div class="list-item-content">
              <ul>
                <li>Upload a single X-ray image displaying both hands clearly.</li>
                <li>Ensure the image is in a standard format (e.g., JPEG, PNG) and high resolution for accurate
                  analysis.</li>
                <li>Images must show all joints in both hands to facilitate proper assessment.</li>
              </ul>
            </div>
            <img class="small-image" src="assets/sample.jpg" alt="X-ray Image Example">
            <div style="clear:both;"></div> <!-- Clear float to prevent overlapping -->
          </li>


          <li><b>Patient Information:</b>
            <ul>
              <li>Enter patient's age as a numerical value (in years).</li>
              <li>Select the gender from the options: Male or Female.</li>
            </ul>
          </li><br>

          <li><b>Duration of Symptoms:</b>
            <ul>
              <li>Input the duration of symptoms in weeks.</li>
              <li>Provide the exact number of weeks since the onset of symptoms.</li>
            </ul>
          </li><br>

          <li><b>Blood Sample Selection:</b>
            <ul>
              <li>Check the appropriate box for each blood sample to be inputted.</li>
              <li>Ensure all relevant blood tests are selected for a comprehensive analysis.</li>
              <li>Available options typically include Rheumatoid Factor (RF), anti-cyclic citrullinated peptide
                (anti-CCP), C-reactive protein (CRP), and erythrocyte sedimentation rate (ESR).</li>
            </ul>
          </li><br>

          <li><b>Blood Test Values Entry:</b>
            <ul>
              <li>Upon selecting a blood sample, input the corresponding values in EU/mL (European Units per
                milliliter).</li>
              <li>Provide accurate values obtained from recent blood tests for precise assessment.</li>
              <li>Input each value carefully to avoid errors in analysis.</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card mb-3">
      <div class="card-header text-center">
        <h2 class="card-title">FILL THE DETAILS</h2>
      </div>
      <div class="card-body">
        <form>
          <h3>Joint-Detection</h3>
          <p class="mb-2">Upload the x-ray image file *</p>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="image" name="image" accept="image/*"
              aria-label="Upload X-ray Image" (input)="dataInputObj.passImageFile($event)">
            <label class="input-group-text" for="image">Browse</label>
          </div>
          <br>

          <h3>Serology</h3>

          <div class="row mb-3">
            <label for="age" class="col-sm-3 col-form-label">Patient's age</label>
            <div class="col-sm-3">
              <input type="number" id="age" name="age" [(ngModel)]="dataInputObj.age" class="form-control">
            </div>
          </div>

          <div class="row mb-3">
            <label for="gender" class="col-sm-3 col-form-label">Patient's gender</label>
            <div class="col-sm-3">
              <select name="gender" id="gender" class="form-select" (change)="dataInputObj.passGender($event)">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>


          <div class="row mb-3">
            <label for="affectDuration" class="col-sm-3 col-form-label">Duration of Symptoms</label>
            <div class="col-sm-3 d-flex align-items-center">
              <input type="number" id="affectDuration" name="affectDuration" class="form-control"
                [(ngModel)]="dataInputObj.affectDuration">
              <b><small class="in-weeks-label">In Weeks</small></b>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <input type="checkbox" id="anticcp" name="anticcp" value="anticcp"
                (change)="dataInputObj.passType('anticcp')">
              <label for="anticcp" class="form-check-label ms-2">Anti-CCP</label>
            </div>
            <div class="col-sm-9 d-flex align-items-center">
              <label for="anticcpValue" class="form-label ms-3 single-line-label">Enter the value in EU/mL</label>
              <input type="number" id="anticcpValue" name="anticcpValue" class="form-control ms-3"
                [(ngModel)]="dataInputObj.anticcpValue">
            </div>
          </div><br>

          <div class="row mb-3">
            <div class="col-sm-3">
              <input type="checkbox" id="rf" name="rf" value="rf" (change)="dataInputObj.passType('rf')">
              <label for="rf" class="form-check-label ms-2">Rheumotoid Factor</label>
            </div>
            <div class="col-sm-9 d-flex align-items-center">
              <label for="rfValue" class="form-label ms-3 single-line-label">Enter the value in EU/mL</label>
              <input type="number" id="rfValue" name="rfValue" class="form-control ms-3"
                [(ngModel)]="dataInputObj.rfValue">
            </div>
          </div><br>

          <div class="row mb-3">
            <div class="col-sm-3">
              <input type="checkbox" id="crp" name="crp" value="crp" (change)="dataInputObj.passType('crp')">
              <label for="crp" class="form-check-label ms-2">C-Reactive Protein</label>
            </div>
            <div class="col-sm-9 d-flex align-items-center">
              <label for="crpValue" class="form-label ms-3 single-line-label">Enter the value in EU/mL</label>
              <input type="number" id="crpValue" name="crpValue" class="form-control ms-3"
                [(ngModel)]="dataInputObj.crpValue">
            </div>
          </div><br>

          <div class="row mb-3">
            <div class="col-sm-3">
              <input type="checkbox" id="esr" name="esr" value="esr" (change)="dataInputObj.passType('esr')">
              <label for="esr" class="form-check-label ms-2">Erythrocyte Sedimentation Rate</label>
            </div>
            <div class="col-sm-9 d-flex align-items-center">
              <label for="esrValue" class="form-label ms-3 single-line-label">Enter the value in EU/mL</label>
              <input type="number" id="esrValue" name="esrValue" class="form-control ms-3"
                [(ngModel)]="dataInputObj.esrValue">
            </div>
          </div>

          <button class="form-submit" (click)="onSubmit($event)">Submit</button>
        </form>
      </div>
    </div>
  </div><br>
  <br>

  <div class="summary">
    <h2>SUMMARY</h2>
    <div class="image-output-container">
      <div id="imageCanvas"></div>
      <div class="image-canvas-output" *ngIf="isOutputAvailable">
        <div class="select-rect-type">
          <label for="rectType">Select the Type:</label>
          <select name="rectType" id="rectType" (change)="getRectType($event)" class="custom-select">
            <option value="both">Both</option>
            <option value="positive">Positive</option>
            <option value="negative">Negative</option>
          </select>
        </div>

        <h3 *ngIf=" currentImageClass === '' ">Hover on the rectangle boxes present on the image to view the class
          name</h3>
        <div *ngIf=" currentImageClass !== '' ">
          <p>Class: <b>{{ currentImageClass }}</b></p>
          <p>Confidence: <b>{{ currentImageClassConf }}</b></p>
        </div>
        <br>
        <h4>Note:</h4>
        <p><span class="red-text">Red </span>Rectangular boxes shows RA <span class="red-text"> positive </span>
          joints </p>
        <p><span class="green-text">Green </span>Rectangular boxes shows RA <span class="green-text"> negative
          </span> joints </p>
      </div>
    </div>

    <div class="score-output-container" *ngIf="isOutputAvailable">
      <div class="score-output">
        <h3>About Joint-Detection</h3>
        <p><b>Message: </b> {{ resultScore.category_1.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_1.score }}</p>
      </div>
      <div class="score-output" *ngIf="dataInputObj.isAnticcpPresent || dataInputObj.isRfPresent">
        <h3>About AntiCCP/RF values</h3>
        <p><b>Message: </b> {{ resultScore.category_2.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_2.score }}</p>
      </div>
      <div class="score-output" *ngIf="dataInputObj.isAnticcpPresent || dataInputObj.isRfPresent">
        <h3>About CRP/ESR values</h3>
        <p><b>Message: </b> {{ resultScore.category_3.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_3.score }}</p>
      </div>
      <div class="score-output">
        <h3>About Duration of Symptoms</h3>
        <p><b>Message: </b> {{ resultScore.category_4.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.category_4.score }}</p>
      </div>
      <div class="score-output">
        <h3>Final Info</h3>
        <p><b>Message: </b> {{ resultScore.output.message }}</p>
        <p><b>ACR/EULAR Score: </b>{{ resultScore.output.score }}</p>
      </div>
    </div>
  </div>