<div class="auth-card">
    <h2 class="auth-title">SignUp</h2>
    <div class="auth-content">
        <label for="username">Enter your username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>

    <div class="auth-content">
        <label for="password">Enter new password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>

    <div class="auth-content">
        <label for="rePassword">Re-Enter new password</label>
        <input type="password" id="rePassword" name="rePassword" [(ngModel)]="rePassword" required>
    </div>

    <p class="auth-message">{{message}}</p>

    <button
        (click)="onSubmit()"
        class="auth-submit"
    >SUBMIT</button>

    <p class="auth-link-message">Already having an account? <a href="/login">Login</a></p>
</div>

