.footer-menu {
    margin: 0;
    padding: 0;
}

.footer-menu-item {
    list-style: none;
    display: block;
}

.footer-menu-link {
    font-size: var(--p-font-size);
    color: var(--white-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-menu-item a:hover {
    color: var(--primary-color);
}


.site-footer {
    background-color: var(--site-footer-bg-color);
    padding-top: 4rem;
    margin-top: 1.5rem;
}

.site-footer-bottom {
    background-color: var(--secondary-color);
    position: relative;
    margin-top: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-footer-bottom a {
    color: var(--white-color);
}

.site-footer-bottom a:hover {
    color: var(--primary-color);
}

.site-footer-link {
    color: var(--white-color);
    text-decoration: none;
}

.copyright-text {
    color: var(--section-bg-color);
    font-size: var(--copyright-font-size);
    margin-right: 30px;
}

.site-footer .custom-btn {
    font-size: var(--copyright-font-size);
}

.site-footer .custom-btn:hover {
    background: var(--primary-color);
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-menu-title {
    color: var(--primary-color);
    margin-bottom: 15px;
}

.footer-logo img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}