
<footer class="site-footer">
  <div class="flex-container">
    <div class="footer-logo">
      <img src="/assets/logo.jpeg" >
    </div>
    <div>
      <h3 class="footer-menu-title">Quick Links</h3>

      <ul class="footer-menu">
        <li class="footer-menu-item"><a href="/" class="footer-menu-link">Home</a></li>

        <li class="footer-menu-item"><a href="/form" class="footer-menu-link">Get Started</a></li>

        <li class="footer-menu-item"><a href="https://www.mite.ac.in" class="footer-menu-link">MITE</a></li>
      </ul>
    </div>
  </div>

  <div class="site-footer-bottom">
    <div class="flex-container">
      <div>
        <p class="copyright-text">Copyright © 2024 <a href="#team" class="site-footer-link">God Project  <img src="/assets/hot-icon.svg" width="15px"></a><br>
          <a href="" target="_blank" class="site-footer-link" >Terms & Condition</a> |
          <a href="/form" class="site-footer-link">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>